<!-- {{-- 𝗙𝗢𝗢𝗧𝗘𝗥 --}} -->

<footer class="container-fluid footer bgGrey">

  <div class="row justify-content-center p-5">

    <div class="col-12 my-3 col-md-2 text-center ">
      <h5 class="fs-6">SERVIZIO CLIENTI</h5>
      <ul class="list-unstyled" style="font-size: 0.9rem">
        <li>Contattaci</li>
        <li>Info utili</li>
        <li>Reclami</li>
        <li>Rimborsi</li>
      </ul>
    </div>

    <div class="col-12 my-3 col-md-2 text-center ">
      <h5 class="fs-6">JOBS</h5>
      <ul class="list-unstyled" style="font-size: 0.9rem">
        <li><a href="" class="text-decoration-none">Lavora con noi</a></li>
        <li><a href="" class="text-decoration-none">Area revisore</a></li>

      </ul>
    </div>



    <div class="col-12 my-3 col-md-2 text-center ">
      <h5 class="fs-6">I NOSTRI SERVIZI</h5>
      <ul class="list-unstyled" style="font-size: 0.9rem">
        <li><a href="" class="text-decoration-none">Compra</a></li>
        <li><a href="" class="text-decoration-none">Vendi</a></li>
        <li><a href="" class="text-decoration-none">Ultime news</a></li>
      </ul>
    </div>

    <div class="col-12 my-3 col-md-2 text-center ">
      <h5 class="fs-6">SEGUICI SU</h5>
      <ul class="list-unstyled">
        <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
        <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
        <li><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
      </ul>
    </div>

  </div>

  <div class="row justify-content-center">
    <hr style="width:90%">
    <div class="col-12 col-md-6">
      <ul class="list-unstyled d-flex justify-content-around" style="font-size: 0.7rem">
        <li> | </li>
        <li><a href="">Copyright © GoodsSports Inc.</a></li>
        <li> | </li>
        <li><a href="">Privacy Policy</a></li>
        <li> | </li>
        <li><a href="">Termini di utilizzo</a></li>
        <li> | </li>
      </ul>
    </div>

  </div>

</footer>
